Уважаемые рекламодатели!

Коллектив Royal Wedding приветствует вас на страницах нашего портала! Вместе с Вами мы постараемся максимально упростить всю процедуру подготовки к свадьбе для молодоженов и их родственников. Для тех, кто занимается этим профессионально, дадим возможность напрямую общаться со своими потенциальными клиентами. 
Если Вы являетесь представителем свадебной индустрии, либо смежного бизнеса приглашаем Вас к сотрудничеству. Размещение информации о Вашей фирме или предоставляемых Вами услугах поможет:

= link_to "Анкета на размещение информации", new_advertisin_path
%br
%br
= link_to "Реклама в разделе информации"
%br
= link_to "Реклама в разделе Каталог"
%br
= link_to "Реклама в разделе Советы экспертов"
%br
= link_to "Банерная реклама"
