<%= @cats.title %>
<%=link_to 'Назад', admin_cats_path %>
<BR>
    <%=@cats.offers.each do |p| %>
        <ul class="nav nav-tabs nav-stacked">
          <li class="active"><a href="#"><%=p.title%></a></li>
          <li><a href="#"><%= p.description %></a></li>
          <li><a href="#"><%= p.short_description %></a></li>
          <li><a href="#"><%= p.phone1 %></a></li>
          <li><a href="#"> <%= p.phone2 %></a></li>
          <li><a href="#"><%= p.email %></a></li>
          <li><a href="#"><%= p.city %></a></li>
          <li><a href="#"> <%= p.address %></a></li>
        </ul>

    <%= link_to "Удалить",admin_offer_path(p), :method => :delete  %>
    <%= link_to "Изменить",edit_admin_offer_path(p.id)  %>
    <HR>
<%end%>
