<div class="page-header">
  <h1>Создаем Обьявления</h1>
</div>

<%=  simple_form_for [ :admin, @offer] do |f| %>
    <%= f.input :title, label: "Название", :class=>'input-xlarge focused'%>
    <%= f.text_area :description%> <br>

    <%= f.text_field :short_description %>
    <%= f.input :phone1, :class=>'input-xlarge focused' %>
    <%= f.input :phone2 %>
    <div class="input-prepend">
      <span class="add-on">@</span>
    <%= f.email_field :email, :class=>'span2' %>
    </div>
    <%= f.input :city %>
    <%= f.input :address %>
    <%=f.association :cat, :class=>'span2' %>

    <%= f.button :submit, :class=>'btn btn-success'  %>
<%end%>