
    = @offer.title  
    = @offer.description   
    = @offer.short_description   
    = @offer.phone1
    = @offer.phone2
    = @offer.email  
    = @offer.city   
    = @offer.address 
    = @offer.id 
    %HR